header {
    background-color: #333; 
    color: #fff;
    padding: 0px;
    text-align: center; 
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: burlywood;
}

.form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 96%;
    padding: 8px;
    border: 1px solid #6b5050;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: burlywood;
    color: #000000;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333; 
    color: #fff;
    padding: 0px;
    text-align: center; 
}